<mat-card >
  <mat-card-content class="content">
    <div itemscope="" itemtype="http://schema.org/Article" fxLayout="column">
      <div fxFlex="1000px">
        <article class="wkm-post">
          <h2>LEADERS IN THE INDUSTRY</h2>
          <div>
            <div>
              <h4 style="text-align: justify;">
                WeKnowMail, LLC proudly offers commercial mailing services to organizations, government agencies, and businesses of all types. Small or large. We serve customers in Northern Virginia and the DC Metro area, as well as throughout the nation, from our facility adjacent to the Dulles International Airport in Sterling, VA.
              </h4>
              <h4>
                We will be pleased to work with you on your next mailing or fulfillment project.&nbsp; Our experts can check your designs for compliance with postal regulations, and we always obtain the lowest possible postage rates for you.
              </h4>
              <p>
                &nbsp;
              </p>
              <blockquote>
                <p>
                  "My experience working with Joe and Dan at WeKnowMail has been wonderful. Their staff are top notch professionals in their service at all times. Their understanding of the USPS and mail processing is thorough and unlimited. Having the U.S. Postal Service as our client, it is imperative that all mail processing steps are implemented and carried through properly. WeKnowMail delivers that level of service and perfection."<br>
                  <i>-- Mary Guthrie<br>
                  &nbsp; &nbsp;Director of Marketing, National Postal Forum</i></p>
              </blockquote>
            </div>
          </div>
        </article>
      </div>
    </div>
  </mat-card-content>
</mat-card>
